:root {
	--color-red: rgb(255, 49, 58);
	--color-green: rgb(52, 199, 89);
	--color-primary: rgb(0, 122, 255);
	--color-warning: rgb(255, 149, 0);
	--color-box: white;
	--color-toggle: white;
	--color-bg: rgb(242, 242, 247);
	--color-sep: rgb(209, 209, 214);
	--color-text: rgb(28, 28, 30);
	--color-text-secondary: rgb(142, 142, 147);
	--box-shadow: 0px 2px 5px var(--color-sep);
	--gap: 10px;
	--toggle-h: 1.5em;
	--toggle-w: 3em;
	--border-radius: 12px;
	--font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", Arial, system-ui, sans-serif;
	--font-mono-stack: ui-monospace, Menlo, Monaco, "Cascadia Mono",
		"Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
		"Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New",
		monospace;

	color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-red: rgb(255, 69, 58);
		--color-green: rgb(52, 209, 89);
		--color-primary: rgb(0, 132, 255);
		--color-warning: rgb(255, 159, 0);
		--color-box: rgb(44, 44, 46);
		--color-bg: black;
		--color-sep: rgb(99, 99, 102);
		--color-text: rgb(242, 242, 247);
		--color-toggle: var(--color-text);
		--color-text-secondary: rgb(142, 142, 147);
		--box-shadow: 0px 2px 5px rgb(28, 28, 30);
	}
}

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	min-width: 270px;
	max-width: 100vw;
	height: auto;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	padding: var(--gap);
	gap: var(--gap);
	align-items: flex-start;
	justify-content: start;
	background-color: var(--color-bg);
	color: var(--color-text);
	font-size: medium;
	font-family: var(--font-stack);
}

.title {
	display: flex;
	flex-direction: column;
	gap: 0;
	justify-content: center;
}

h1 {
	font-size: larger;
}

small {
	font-size: smaller;
}

h1,
p {
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	width: 100%;
}

header {
	font-size: larger;
	display: flex;
	align-items: center;
	gap: var(--gap);
}

.icon {
	display: inline-block;
	height: 2em;
	width: 2em;
	filter: drop-shadow(0 1px 1px var(--color-text-secondary));
}

.box {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	background-color: var(--color-box);
	padding: var(--gap);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

.box-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: var(--gap);
	max-width: min-content;
	min-width: 100%;
}

.box-item span {
	inline-size: max-content;
	align-self: center;
}

.box-item code {
	font-family: var(--font-mono-stack);
	font-size: 0.95em;
	color: var(--color-text-secondary);
	overflow-wrap: anywhere;
	word-break: break-all;
}

.box > *:not(:first-child) {
	border-top: 1px solid var(--color-sep);
	padding-top: var(--gap);
}

.counter {
	flex-basis: 0;
	margin: 0;
}

.caption {
	color: var(--color-text-secondary);
	width: 100%;
	text-align: center;
	font-size: 0.8em;
	max-width: min-content;
	min-width: 100%;
	overflow-wrap: break-word;
}

.caption a {
	color: var(--color-text-secondary);
	font-weight: bold;
	width: min-content;
}

.button {
	width: 100%;
	display: flex;
	padding: var(--gap);
	margin: 0;
	border-radius: var(--border-radius);
	background-color: var(--color-box);
	color: var(--color-text);
	font-size: medium;
	border: none;
	align-items: center;
	justify-content: center;
	gap: var(--gap);
	box-shadow: var(--box-shadow);
	transition: all 0.33s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover {
	opacity: 0.9;
}

.button:active {
	transform: scale(0.95);
}

.button span {
	display: inherit;
}

.button-primary {
	color: var(--color-primary);
}
.button-warning {
	color: var(--color-warning);
}
.button-danger {
	color: var(--color-red);
}

.spin {
	animation: 1s linear 1s infinite spin;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Toggle */
.form-switch {
	display: inline-flex;
	align-items: center;
	gap: var(--gap);
	justify-content: space-between;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.form-switch i {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 26px;
	background-color: var(--color-sep);
	border-radius: 23px;
	vertical-align: text-bottom;
	transition: all 0.3s linear;
}
.form-switch i::before {
	content: "";
	position: absolute;
	left: 0;
	width: 42px;
	height: 22px;
	background-color: var(--color-sep);
	border-radius: 11px;
	transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
	transition: all 0.25s linear;
}
.form-switch i::after {
	content: "";
	position: absolute;
	left: 0;
	width: 22px;
	height: 22px;
	background-color: var(--color-toggle);
	border-radius: 11px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
	transform: translate3d(2px, 2px, 0);
	transition: all 0.2s ease-in-out;
}
.form-switch:active i::after {
	width: 28px;
	transform: translate3d(2px, 2px, 0);
}
.form-switch:active input:checked + i::after {
	transform: translate3d(16px, 2px, 0);
}
.form-switch input {
	display: none;
}
.form-switch input:checked + i {
	background-color: var(--color-green);
}
.form-switch input:checked + i::before {
	transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.form-switch input:checked + i::after {
	transform: translate3d(22px, 2px, 0);
}
